<div class="center jumbotron">
  <h1>Welcome to the Sample Application</h1>
  <h2>This is the home page for the SAMPLE!</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails-logo.svg", alt: "Rails Logo"),
            'http://rubyonrails.org', class: "img-responsive" %>
