<footer class="footer">
  <small>Created by <%= link_to "Austin Aryain", 'http://austinaryain.com' %></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "News", '#' %></li>
      </ul>
    </nav>
</footer>
